body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #06171e;
  font-family: "Figtree";
  background-color: #1c1380;
  color: white;
  font-family: "GillSans Condensed";
}

header {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 83px;
  padding-top: 15px;
  background-color: rgb(232, 121, 2);
}

nav {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e97b02;
}

nav img {
  width: 40px;
  height: auto;
}

main {
  width: 100%;
  max-width: 1440px;
  height: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(assets/img/32213210_7917587.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  flex: 1;
}

#pokedex {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border-radius: 25px;
  margin: 34px 0;
  flex-wrap: wrap;
  gap: 30px;
}

.loading-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.loading-text {
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

#pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  min-width: 320px;
  max-width: 1440px;
}

.pokemonCard {
  position: relative;
  width: 280px;
  height: 200px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.2s ease;
  overflow: hidden;
}

.pokemonCard:hover {
  transform: scale(1.05);
}

.card-id {
  position: absolute;
  top: 15px;
  right: 20px;
  color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 1.1rem;
}

.card-name {
  color: white;
  font-size: 1.8rem;
  text-transform: capitalize;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.card-main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
}

.card-types {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.type-badge {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.card-image-container img {
  width: 130px;
  height: 130px;
  object-fit: contain;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
}

footer {
  max-width: 1440px;
  width: 100%;
  text-align: center;
  height: 83px;
  background-color: #e97b02;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
